<h1>Welcome</h1>

<p>Welcome to FamiliCircle, a new way to share media with family members.</p>

<p>This is a proof of concept for MIT t=0 hackathon, but you're welcome to try it,<br>
  go to <a href="https://chrome.google.com/webstore/detail/familicircle/adjhongcojplnpllkglifkhbneiogjln?hl=en-US">https://chrome.google.com/webstore/detail/familicircle/adjhongcojplnpllkglifkhbneiogjln</a> to install a chrome plugin which integrates with Gmail.
</p>

<p>When you want to send a images to a friend, simply go to email them and enable the FamiliCircle plugin in the compose dialog.</p>