<div class="file-container"></div>


<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>Hi {{sender}}, '{{recipient}}' is now waiting for your files!</p>
    <p>Go ahead and drag or select some files below.</p>
  </div>
</div>
<div class="container">
  <div id="drop-zone">
    <h3>Drop files here</h3>

    <input type="file" id="files" name="files" multiple />
  </div>

</div>

