global
    daemon
    maxconn 4096


defaults
  log   global
  mode  http
  option  httplog
  option  dontlognull
  retries  3
  option  redispatch
  option  http-server-close
  maxconn  2000
  contimeout  5000
  clitimeout  50000
  srvtimeout  50000


frontend http
    bind *:80

    acl is_websocket hdr(Upgrade) -i WebSocket
    use_backend node if { path_beg /api }
    use_backend node if { path_beg /socket.io }
    use_backend node if is_websocket
    use_backend node if { hdr_end(host) -i ws.familicircle.net }
    use_backend node if { hdr_end(host) -i ws.familicircle.com }

    default_backend static

frontend https
    bind *:443 ssl crt /etc/ws_familicircle_com.pem
    reqadd X-Forwarded-Proto:\ https

    default_backend node


backend static
    server localhost localhost:6000 check port 6000

backend node
    server localhost localhost:3000 check port 3000
