@import 'nib'

.page-header
  margin: 20px 10px 20px 10px
  font-size: 3em

.page-header a
  color: #888 !important

.page-header a:hover
  text-decoration: none !important
  color: #888 !important

#logo
  vertical-align: middle
  max-height: 2.5em
  margin-right: 0.5em
  margin-left: 0.5em

