@import 'nib'

.header
  width: 476px
  margin: 0 auto
  padding: 10px

  &-link
    margin-right: 32px
    text-decoration: none
    color: black

    &:visited
      color: black

    &:hover
      text-decoration: underline

    &:last-child
      margin-right: 0
