@import 'nib'

.home-page
  max-width: 960px
  margin: 5px auto
  padding: 5px
  margin-bottom: 0.5em

.home-page .jumbotron
  background-color: rgba(89, 211, 72, 0.40) !important
  color: #3D3D3D !important
