@import 'nib'

#drop-zone
  width: 100%
  height: 100px
  text-align: center
  border: 3px dashed #aaa

  input
    margin: auto

.home-page .jumbotron
  background-color: rgba(89, 211, 72, 0.40) !important
  color: #3D3D3D !important
